{{ define "main" }}
  {{ .Content }}
  <section class="presentation">
    <div class="presentation-background"></div>
    <div class="presentation-section1">
      <p><a href="home.html">Johanna Lambda</a></p>
      <a href="contact.html">Papotons</a>
    </div>
    <div class="presentation-section2">
      <div>
        <h1>Johanna Lambda</h1>
          <p>Meuf banale qui aime plein de choses mais surtout concevoir des sites internet</p>
        </div>
    </div>
    <div class="presentation-footer">
      <p>— Coder avec une banalité soignée</p>
    </div>
  </section>
{{ end }}