{{ define "main" }}
  {{ .Content }}
  <section class="section-presentation">
      <h1 class="texture-grain">
        <div>
          <span>johanna</span>
          <span>duloir</span>
        </div>
      </h1>
      <span class="tiny-title">webdesigner lambda</span>
  </section>

  <section class="section-johanna">
    <div class="description">
      <span>Juste une personne</span>
      <span>lambda</span>
      <span>créant des sites internet</span>
    </div>
    <div>
      <p>lambda \lɑ̃b.da\ masculin
        Def: Qui ne se distingue par aucun trait remarquable, moyen, quelconque.
        Un membre considéré comme le plus ordinaire d’un ensemble.</p>
    </div>
  </section>

  <section class="section-portfolio"></section>
  <section class="section-blog">
    <div>
      <h2>Blabla</h2>
      <p>a full-service social media agency, mastering the art of social strategies and delivering effective solutions for leading brands. Explore our services and discover more.a full-service social media agency, mastering the art of social strategies and delivering effective solutions for leading brands.</p>
    </div>
  </section>
  <section class="section-contact">
    <div>
      <h2>On bosse ensemble ?</h2>
    <div>
      <a href="contact" class="bouton-noir">M'écrire un p'tit mot</a>
    </div>
  </section>
{{ end }}