/*Alors comme ça on vient voir comment j'ai codé ? Bienvenue inspecteur*/

/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --color1: #000000;
    --color2: #ffe62e;
    --color3: #FFFFFF;
}

/*______________________________________________________________________________________Polices d'écriture*/

/*________________________________________________________________________________________________________*/

h1 {
    font-family: "Times New Roman";
    font-weight: 500;
    font-size: 20px;
    color: var(--color1);
}

h2 {
    font-family: "Times New Roman";
    font-size: 20px;
    font-weight: 500;
    color: var(--color1);
}

p {
    font-family: "Courier New";
    font-weight: bold;
    font-size: 12px;
    color: var(--color1)
}

/*_______________________________________________________________________________________________________*/
/*__________________________________________________BODY___________________________________________*/
/*_______________________________________________________________________________________________________*/

body {
    background-image: url(../media/background-noise.png);
    width: auto;
    overflow-x: hidden;
    margin: 20px;
}

header {
    position: fixed;
}

/*_______________________________________________________________________________________________________*/
/*__________________________________________________NAVIGATION___________________________________________*/
/*_______________________________________________________________________________________________________*/
nav {
    display: flex;
    justify-content: flex;
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 12px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    padding: 5px 0px 5px 0px;
}

nav ul a {
    text-decoration: none;
    color: var(--color1);

}

/* Shuffle effect
.shuffle {
    transition: none;
}

a.bouton-noir:hover{
    transition: transform 2s cubic-bezier(0.215, 0.61, 0.355, 1);
} */


/*_______________________________________________________________________________________________________*/
/*____________________________________________________HOME_______________________________________________*/
/*_______________________________________________________________________________________________________*/



/*_______________________________________________________________________________________________________*/
/*____________________________________________SECTION 1 SLIDER PRES_______________________________________________*/
/*_______________________________________________________________________________________________________*/

.section-presentation {
    min-height: 100vh;
    border-bottom: 1px solid black;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}

h1 div span {
    filter: blur(8px);
    font-family: 'myriad pro';
    font-size: 150px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.7;
    letter-spacing: -5px;
    margin-bottom: 2rem;
}

span.tiny-title {
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: 'Courier New';
    font-weight: bold;
}

/* h1.texture-grain::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../media/noise-pattern.png);
    background-repeat: repeat;
    pointer-events: none;
} */

/*_______________________________________________________________________________________________________*/
/*____________________________________________SECTION 2 - JOHANNA________________________________________*/
/*_______________________________________________________________________________________________________*/
.section-johanna {
    padding: 6rem;
    border-bottom: 1px solid black;
}

.section-johanna .description span {
    font-size: 150px;
    font-family: "Arial";
    font-weight: bold;
    text-transform: uppercase;
    display: grid;
    justify-items: end;
}


.section-johanna .description span:nth-child(2) {
    color: red;
    filter: blur(6px);
}

/*_______________________________________________________________________________________________________*/
/*____________________________________________SECTION BLOG____________________________________*/
/*_______________________________________________________________________________________________________*/

/* .section-blog {
    padding: 6rem 6rem 15rem 6rem;
    display: flex;
}

.section-blog img {
    width: 700px;
    height: 800px;
    object-fit: cover;
}

.section-blog h2 {
    font-size: 200px;
    line-height: 0;
    margin-left: -220px;
} */


/*_______________________________________________________________________________________________________*/
/*____________________________________________SECTION CONTACT____________________________________*/
/*_______________________________________________________________________________________________________*/
/* .section-contact {
    padding: 6rem;
    background-color: var(--color2);
}

.section-contact div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.svg-mouton {
    height: 400px;
    margin-top: -250px;
}

.section-contact h2 {
    font-size: 100px;
    line-height: 0;
    color: var(--color1);
    text-align: center;
} */